@use "@/styles/variables.scss" as *;

.hero{
  text-align: center;
  padding-block: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__description{
    color: $text_gray;
    margin-bottom: 2rem;
  }
}