@use "@/styles/variables" as *;

.button{
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  background-color: $primary_color;
  color: white;
  font-size: 1rem;
  border-radius: $border_radius;

  &--no-radius{
    border-radius: unset;
  }

  &:disabled {
    opacity: .7;
    cursor: not-allowed;
  }
}