@use "@/styles/variables.scss" as *;


.hero{
  text-align: center;
  padding-block: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__title{
    color: $primary_color;
  }

  &__description{
    color: $text_gray;
    margin-bottom: 1rem;
  }
}
.search{
  width: 100%;
  max-width: 45rem;
  margin: 0 auto;
  display: flex;
  border: $border;
  border-radius: $border_radius;
  overflow: hidden;

  &__input{
    width: 100%;
    padding: 1rem 1.25rem;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    font-size: 1rem;
  }
}