@use "@/styles/variables.scss" as *;
@use "@/styles/mixins.scss" as *;

.navbar{
  position: sticky;
  top: 0;
  padding: 1.25rem 1rem;
  background-color: rgba($bg_color, .8);
  backdrop-filter: blur(12px);
  border-bottom: $border;
  z-index: 1;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo{
    cursor: pointer;
  }

  &__burger{
    cursor: pointer;
    display: none;
    background-color: unset;
    border: 0;
    color: white;
  }

  &__links{
    list-style: none;
    display: flex;
    gap: 1rem;
    &__item{
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: $text_gray;
      cursor: pointer;

      span {
        padding-bottom: 2px;
        display: flex;
      }

      &.active{
        color: white;
      }
    }
  }
}

@include responsive(sm){
  .navbar{
    padding-inline: unset;
    &__content{
      nav{
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $bg_color;
        border-bottom: $border;
        width: 100vw;
        padding-inline: 1rem;
        overflow: hidden;
        transition: .3s;

        .navbar__links{
          flex-direction: column;
          gap: 2rem;
          padding-block: 1.5rem;
        }
      }
    }

    &__burger{
      cursor: pointer;
      display: flex;
    }
  }
}